:host {
  height: 100%;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-shadow: inset 0px 11px 10px -10px #000, inset 0px -11px 10px -10px #000;
}

.main_element {
  background-color: #415a7049;
  padding: 15px 40px 30px 40px;
  border-radius: 5px;
}

button {
  width: 315px;
  height: 42px;
  border-radius: 5px;
  background: linear-gradient(180deg, transparent, #23b91e00),
    linear-gradient(25deg, #1fc71fa8, #21df219c);
  /* background: rgba(32, 185, 45, 0.685); */
  color: #f2f2f2;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}

button:disabled {
  background: grey;
  cursor: not-allowed;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.picture {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding-bottom: 20px;
  width: 200px;
  height: 200px;
  margin-left: calc(50% - 100px);
}

.spacer {
  flex: 1;
}

/* form starting stylings ------------------------------- */

.group {
  position: relative;
  margin-bottom: 7px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #555555;
  background: rgba(0, 0, 0, 0.3);
  color: #f2f2f2;
  border-radius: 3px;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #dbdbdb;
}

/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 315px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5c77e2;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* POPUP ======================================== */

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Modal Content */

.popup-content {
  background: #092756;
  background: -moz-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(
            42,
            60,
            87,
            0.4
          )
          100%),
    -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    linear-gradient(
      to bottom,
      rgba(57, 173, 219, 0.25) 0%,
      rgba(42, 60, 87, 0.4) 100%
    ),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
  position: fixed;
  bottom: 40%;
  width: 500px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
}

.popup-background {
  width: 100%;
  height: 100%;
  background: #141414ad;
  transition: 3s linear;
  color: white;
}

/* POPUP CLOSE BUTTON =========================== */

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px 5px 0 0;
  color: white;
}

.popup-body {
  padding: 2px 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.popup-footer {
  padding: 2px 16px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.popup-footer button {
  margin: 20px 10px 15px 10px;
  width: 200px;
}

/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */

/* input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
} */

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 40%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
